{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
{% load mathfilters %}

    <html>
            <head>
                <meta charset="UTF-8">
                <title>Eagle Financial</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            </head>
             
            <body>
                     <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Welcome!</div>
                                            <div class="panel-body">
                                                Eagle Financial Services, your Midwest Financial Services Partner.
                                            </div>
                                        </div>
                                    </div>
                               </div>
                 
</div>
<div class="row">
    <h1 style="padding-left: 15Px">Customer Portfolio</h1>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Portfolio Initial Investments</th>
            <th>Portfolio Current Investments</th>
            <th>Grand Total Results</th>

        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ portfolio_initial_investment|intcomma }}</td>
                <td>{{ portfolio_current_investment|intcomma }}</td>
                <td>{{ portfolio_current_investment|sub:portfolio_initial_investment|intcomma }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.initial_stock_value|intcomma }}
                <td>{{ stock.current_stock_price|intcomma }}</td>
                <td>{{ stock.current_stock_value|intcomma }}</td>
                <td>{{ stock.results_by_stock|intcomma}}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Stocks</th>
            <th>Total of Current Stocks</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sum_of_initial_stock_value|intcomma }}</td>
            <td>{{ sum_current_stocks_value|intcomma }}</td>
            <td>{{ sum_current_stocks_value|sub:sum_of_initial_stock_value|intcomma }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Investment Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Category</th>
            <th>Description</th>
            <th>Acquired Value</th>
            <th>Acquired Date</th>
            <th>Recent Value</th>
            <th>Recent Date</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.acquired_value|intcomma }}</td>
                <td>{{ investment.acquired_date|intcomma }}</td>
                <td>{{ investment.recent_value|intcomma}}
                <td>{{ investment.recent_date|intcomma }}</td>
                <td>{{ investment.results_by_investment|intcomma}}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Investments</th>
            <th>Total of Current Investments</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sum_of_initial_investment_value|intcomma }}</td>
            <td>{{ sum_current_investment_value|intcomma }}</td>
            <td>{{ sum_current_investment_value|sub:sum_of_initial_investment_value|intcomma }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Mutual Funds Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Category</th>
            <th>Description</th>
            <th>Shares</th>
            <th>Purchased Value</th>
            <th>Purchased Date</th>
            <th>Recent Value</th>
            <th>Recent Date</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        {% for mutualfund in mutualfunds %}
            <tr>
                <td>{{ mutualfund.customer }}</td>
                <td>{{ mutualfund.category }}</td>
                <td>{{ mutualfund.description }}</td>
                <td>{{ mutualfund.shares|intcomma }}</td>
                <td>{{ mutualfund.purchased_value|intcomma }}</td>
                <td>{{ mutualfund.purchased_date|intcomma}}
                <td>{{ mutualfund.recent_value|intcomma }}</td>
                <td>{{ mutualfund.recent_date|intcomma }}</td>
                <td>{{ mutualfund.results_by_mutualfund|intcomma}}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total of Initial Mutualfunds</th>
            <th>Total of Current Mutualfunds</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sum_purchased_value.purchased_value__sum|intcomma }}</td>
            <td>{{ sum_recent_value_mutual.recent_value__sum|intcomma }}</td>
            <td>{{ result_mutual.sum_result|intcomma }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}